.coverage
.DS_Store
*.sqlite*
.idea/
.ipynb_checkpoints
.mypy_cache/
.pyenv/
ve/
build/
dist/
*/__pycache__/
*/*/__pycache__/
htmlcov/
snapshot
*egg-info/
.tox/
.env
.cache/
settings_local.py
node_modules
