{% extends "base.html" %}
{% load i18n %}

{% block scripts %}
    <script src="/static/bundles/bundle.js"></script>
{% endblock %}

{% block content %}
    <div id="ajax-page" class="container">
        <form id="ajax-form" method="POST" action="{% url "backtests:backtesting" %}">
            {% csrf_token %}
            <div class="form-row">
                {% include "crumpet/includes/field.html" with field=form.exchange %}
                {% include "crumpet/includes/field.html" with field=form.exchange_period %}
                {% include "crumpet/includes/field.html" with field=form.start_date %}
                {% include "crumpet/includes/field.html" with field=form.end_date %}
            </div>
            <div class="form-row">
                {% include "crumpet/includes/field.html" with field=form.instrument %}
                {% include "crumpet/includes/field.html" with field=form.strategy %}
                {% include "crumpet/includes/field.html" with field=form.trading_fee %}
                <button class="Btn" type="submit">{% trans "Start" %}</button>
            </div>
            <div class="form-row">
                {% include "crumpet/includes/field.html" with field=form.sma_period %}
                {% include "crumpet/includes/field.html" with field=form.ema_period %}
                {% include "crumpet/includes/field.html" with field=form.mo_period %}
                {% include "crumpet/includes/field.html" with field=form.mo_sensitivity %}
            </div>
        </form>
    </div>
    {{ data }}
    <div id="container"></div>

{% endblock %}
