{% load i18n %}

{% if user.is_authenticated %}
    <header class="Navbar">
        <div class="navbar-wrapper">
            <nav class="navbar-main" role="navigation">
                {% include "crumpet/pages/elements/navbar_item.html" with name="Dashboard" url="crumpet:dashboard" %}
                {% include "crumpet/pages/elements/navbar_item.html" with name="Backtest" url="backtests:backtesting" %}
                {% include "crumpet/pages/elements/navbar_item.html" with name="Livetest" url="backtests:livetest" %}
                {% include "crumpet/pages/elements/navbar_item.html" with name="Account" url="crumpet:account" %}
                {% include "crumpet/pages/elements/navbar_item.html" with name="Portfolio" url="crumpet:portfolio" %}
                {% include "crumpet/pages/elements/navbar_item.html" with name="Logout" url="account_logout" %}
            </nav>
        </div>
        <div class="navbar-logo">
            <a href="/">
                <img class="navbar-image" src="/static/crumpet/favicon/cryptopustet.png">
            </a>
        </div>
    </header>
{% else %}
    <header class="Navbar">
        <div class="navbar-wrapper">
            <nav class="navbar-main" role="navigation">
                {% include "crumpet/pages/elements/navbar_item.html" with name="Sign Up" url="account_signup" %}
                {% include "crumpet/pages/elements/navbar_item.html" with name="Login" url="account_login" %}
            </nav>
        </div>
        <div class="navbar-logo">
            <a href="/">
                <img class="navbar-image" src="/static/crumpet/favicon/cryptopuppet.png">
            </a>
        </div>
    </header>
{% endif %}
